[Unit]
Description=ssh-chatter SSH chat service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=ssh-chatter
Group=ssh-chatter
WorkingDirectory=/var/lib/ssh-chatter
ExecStart=/usr/local/bin/ssh-chatter -a $CHATTER_BIND_ADDRESS -p $CHATTER_PORT -m $CHATTER_MOTD_FILE -k $CHATTER_HOST_KEY_DIR $CHATTER_EXTRA_ARGS -T 0.0.0.0:2223
Environment=GEMINI_API_KEY=
Environment=ADMIN1=gg582
Environment=ADMIN1PW=yourpw
Environment=ADMIN2=marakas
Environment=ADMIN2PW=yourpw
Environment=ADMIN3=hello
Environment=ADMIN3PW=inaina
Environment=ADMIN4=ramen
Environment=yoyo
Environment=BACKUP=namanama
Environment=ACKUPPW=manamana
Environment=OLLAMA_ADDRESS=192.168.0.4:11434
Environment=GEMINI_MODEL=gemini-2.5-flash-lite
Environment=CHATTER_BIND_ADDRESS=0.0.0.0
Environment=CHATTER_PORT=2222
Environment=CHATTER_MOTD_FILE=/etc/ssh-chatter/motd
Environment=CHATTER_HOST_KEY_DIR=/var/lib/ssh-chatter
Environment=CHATTER_STATE_DIR=/var/lib/ssh-chatter
Environment=CHATTER_EXTRA_ARGS=
EnvironmentFile=-/etc/ssh-chatter/chatter.env
# Security and capabilities
AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
NoNewPrivileges=true
ProtectSystem=full
ProtectHome=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
